@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.home {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
}
.container{
    padding-left: 0px;
}

.bg-image{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    /*background-image: url("../assets/images/10708211.jpg");*/
}

.quote{
    height: 90vh;
    width: 100vm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Medium";
    font-size: 35px;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    /*mix-blend-mode: difference;*/
}
@keyframes scale {
     100% {
         transform: scale(1);
     }
 }

.span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}